@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=M+PLUS+Rounded+1c&display=swap');

p {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

button{
    font-family: 'Lalezar', cursive;
   
}

h1{
    font-family: 'Lalezar', cursive;
    font-size: 50px;
    text-align: center;
}

h2{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 25px;
    text-align: center;
}

h3{
    font-family: 'Lalezar', cursive;
    font-size: 20px;
    text-align: center;
}

.botón{
    margin-top: 7px;
}

.main{
    margin-top: 20px;
}

input::placeholder { 
    font-family: 'M PLUS Rounded 1c', sans-serif;
}




