@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=M+PLUS+Rounded+1c&display=swap');

body { font-family: Arial, sans-serif; padding: 20px; }
        #resultados { margin-top: 20px; display: flex; flex-wrap: wrap; gap: 20px; }
        .pokemon { border: 1px solid #ccc; border-radius: 10px; padding: 10px; text-align: center; width: 150px; }
        .pokemon img { width: 100px; height: 100px; }

p {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

button{
    font-family: 'Lalezar', cursive;
   
}

.icono{
    width: 60px;
    height: auto;
    margin-top: -20px;
    margin-right: 10px;
    

}

.error{
    width: 250px;
    height: auto;

}

h1{
    font-family: 'Lalezar', cursive;
    font-size: 50px;
    text-align: center;
}

h2{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 25px;
    text-align: center;
}

h3{
    font-family: 'Lalezar', cursive;
    font-size: 20px;
    text-align: center;
}




input::placeholder { 
    font-family: 'M PLUS Rounded 1c', sans-serif;
}




